# Copy this file to .env and adapt values if needed.
# Docker Compose will use these values for service data_migration.

ENABLE_REPLICA_TESTS=true
MONGO_URI=mongodb://mongo1:27017
MONGO_PRIMARY_URI=mongodb://mongo1:27017/?replicaSet=rsGreenCoop
MONGO_PRIMARY_ADMIN_URI=mongodb://admin:admin123@mongo1:27017/admin?replicaSet=rsGreenCoop
MONGO_REPLICA_URI=mongodb://analyste:readonly123@mongo1:27017,mongo2:27017,mongo3:27017/GreenCoop?replicaSet=rsGreenCoop
MONGO_CLONE_SECONDARY_URI=mongodb://analyste:readonly123@mongo3:27017/GreenCoop?directConnection=true
DB_NAME=GreenCoop
COLLECTION_NAME=ObsProEtAmateur
BACKUP_FILE=/home/jovyan/app/data/backup_ObsProEtAmateur.jsonl
VISUAL_FILE=/home/jovyan/app/data/visualisation_temp.png
